<tr>
  <td style="border:1px solid #000000;text-align:left;">
    <div>
      <%= member.group%>班
    </div>
    <div>
      <%= member.nickname%>
    </div>
    <div>
      <%= link_to "班削除", tour_member_path(@tour,member), method: :delete %>
    </div>
  </td>
  <td style="border:1px solid #000000;text-align:left;">
    <p class="dinner-count">0</p>
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[dining]" type="hidden" value=<%= member.id %>>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
    <div>
    <%=@dining_ary2%>
    <%# ifで配列内でメンバーIDと一致したものの添え番＋１を表示 %>
    </div>
  </td>
  <td style="border:1px solid #000000;text-align:left;">
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[dinner_wait]" type="hidden" value=<%= member.id %>>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
  </td>
  <td style="border:1px solid #000000;text-align:left;">
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[dinner_preparation]" type="hidden" value=<%= member.id %>>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
  </td>
  <td style="border:1px solid #000000;text-align:left;">
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[bath_time]" type="hidden" value=<%= member.id %>>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
  </td>
  <td style="border:1px solid #000000;text-align:left;">
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[bath_wait]" type="hidden" value=<%= member.id %>>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
  </td>
  <td style="border:1px solid #000000;text-align:left;">
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[escape]" type="hidden" value=<%= member.id %>>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
  </td>
</tr>