<tr>
  <td>
    <div class="bold">
      <%= member.group%>班
    </div>
    <div class="bold">
      <%= link_to member.nickname, edit_tour_member_path(@tour,member), method: :get, class: "member-name"%>
    </div>
    <div>
      <%= button_to "班削除", tour_member_path(@tour,member), method: :delete, class: 'member-derete' %>
    </div>
  </td>
  <td class="table-center">
    <% dining_ary3 = @dining_ary2.index("#{member.id}")%>
    <% if dining_ary3.present? %>
    <div class="category-in">
      <%= "#{(dining_ary3 + 1)}番" %>
    </div>
    <% else %>
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[dining]" type="hidden" value=<%= member.id %>>
      <%= f.hidden_field :memberr, value: member.id %>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
    <% end %>
  </td>
  <td class="table-center">
    <% dinner_wait_ary3 = @dinner_wait_ary2.index("#{member.id}")%>
    <% if dinner_wait_ary3.present? %>
    <div class="category-in">
      <%= "#{(dinner_wait_ary3 + 1)}番" %>
    </div>
    <% else %>
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[dinner_wait]" type="hidden" value=<%= member.id %>>
      <%= f.hidden_field :memberr, value: member.id%>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
    <% end %>
  </td>
  <td class="table-center">
    <% dinner_preparation_ary3 = @dinner_preparation_ary2.index("#{member.id}")%>
    <% if dinner_preparation_ary3.present? %>
    <div class="category-in">
      <%= "#{(dinner_preparation_ary3 + 1)}番" %>
    </div>
    <% else %>
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[dinner_preparation]" type="hidden" value=<%= member.id %>>
      <%= f.hidden_field :memberr, value: member.id%>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
    <% end %>
  </td>
  <td class="table-center">
    <% bath_time_ary3 = @bath_time_ary2.index("#{member.id}")%>
    <% if bath_time_ary3.present? %>
    <div class="category-in">
      <%= "#{(bath_time_ary3 + 1)}番" %>
    </div>
    <% else %>
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[bath_time]" type="hidden" value=<%= member.id %>>
      <%= f.hidden_field :memberr, value:member.id%>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
    <% end %>
  </td>
  <td class="table-center">
    <% bath_wait_ary3 = @bath_wait_ary2.index("#{member.id}")%>
    <% if bath_wait_ary3.present? %>
    <div class="category-in">
      <%= "#{(bath_wait_ary3 + 1)}番" %>
    </div>
    <% else %>
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[bath_wait]" type="hidden" value=<%= member.id %>>
      <%= f.hidden_field :memberr, value:member.id%>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
    <% end %>
  </td>
  <td class="table-center">
      <% escape_ary3 = @escape_ary2.index("#{member.id}")%>
      <% if escape_ary3.present? %>
          <div class="category-in">
      <%= "待機中" %>
    </div>
    <% else %>
    <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
    <div class="form-input">
      <input name="category[escape]" type="hidden" value=<%= member.id %>>
      <%= f.hidden_field :memberr, value:member.id%>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <% end %>
    <% end %>
  </td>
</tr>