<div class='header'>
  <div>
    <%= link_to "トップページ", root_path%>
  </div>

  <div class='tour-name'>
    <%= @tour.place %>
  </div>

  <div class='login'>
    <%= link_to '管理者ログイン', new_user_session_path, class: "login" %>
  </div>
  <div class='add-del'>
    <div class='add-tour'>
      <%= link_to "ツアー追加", new_tour_path%>
    </div>

    <div class='del-tour'>
      <%= link_to "ツアー削除", tour_path(@tour.id), method: :delete%>
    </div>
  </div>
</div>

<div style="margin:0px;padding:0px;" align="center">
  <table width="98%" style="border-collapse: collapse;border:1px solid #000000;text-align:left;">
    <tbody>
      <tr>
        <th style="border:1px solid #000000;text-align:center;">&nbsp;</th>
        <th style="border:1px solid #000000;text-align:center;">食堂移動済み <p id="dining-count">0</p>
          <input type="button" value="食堂" id="dining"></th>
        <th style="border:1px solid #000000;text-align:center;">
        <%= form_with model: [@tour, @category], class: 'form', local: true do |f| %>
          <div class="form-input">
            <%= f.text_field :dinner_wait, class: 'form-message', placeholder: 'type a メッセージ' %>
          </div>
          <%= f.submit '追加', class: 'form-submit' %>
        <% end %>
        </th>
        <th style="border:1px solid #000000;text-align:center;">夕食準備</th>
        <th style="border:1px solid #000000;text-align:center;">入浴中</th>
        <th style="border:1px solid #000000;text-align:center;">お風呂待機</th>
        <th style="border:1px solid #000000;text-align:center;">エスケープ</th>
      </tr>
      <%= render partial: 'member', collection: @members %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to "班追加", new_tour_member_path(@tour) %>
</div>

<div class='back'>
  戻る
</div>

<div class='reset'>
  リセット
</div>

<%= @json_data%>

<script>
  function diningAction() {
    const dining = document.getElementById("dining");
    const diningCount = document.getElementById("dining-count");
    const diningList = gon.data["dining"];
    diningCount.innerHTML = (diningList.length);
    dining.addEventListener("click", () => {
      diningList.push("あああああ");
      diningCount.innerHTML = (diningList.length);
      console.log(diningList);
    });
  }
  window.addEventListener('turbolinks:load', diningAction);
</script>