<div class='header'>
  <div>
    <%= link_to "トップページ", root_path%>
  </div>

  <div class='tour-name'>
    <h3><%= @tour.place %></h3>
  </div>

  <div class="log">
    <div class='login'>
      <%= link_to '管理者ログイン', new_user_session_path, class: "login" %>
    </div>
    <div class='del-tour'>
      <%= link_to "ツアー削除", tour_path(@tour.id), method: :delete%>
    </div>
  </div>
</div>

<div style="margin-top:10px;padding:0px;" align="center">
  <table>
    <tbody>
      <tr>
        <th width="12%" style="border:1px solid #000000;text-align:center;"></th>
        <th width="12%" style="border:1px solid #000000;text-align:center;">食堂移動</th>
        <th width="12%" style="border:1px solid #000000;text-align:center;">夕食待機</th>
        <th width="12%" style="border:1px solid #000000;text-align:center;">夕食準備</th>
        <th width="12%" style="border:1px solid #000000;text-align:center;">入浴中</th>
        <th width="12%" style="border:1px solid #000000;text-align:center;">風呂待機</th>
        <th width="12%" style="border:1px solid #000000;text-align:center;">部屋待機</th>
      </tr>
      <%= render partial: 'member', collection: @members %>
      <tr class="none" >
        <td class="add-group"><%= link_to "班追加", new_tour_member_path(@tour) %></td>
      </tr>
    </tbody>
  </table>
</div>